* {
  margin: 0;
  padding: 0;
}

section {
  margin-top: 130px;
}

header {
  background: url(images/banner/banner3.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
}

.container {
  text-align: right;
  padding: 216px 230px 364px 845px;
}

.header-title {
  color: #fff;
  text-align: right;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 25px;
}

.header-description {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.btn-primary {
  color: #005fac;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  border: 0;
  border-radius: 5px;
  background: #fff;
  padding: 20px 25px;
  margin-top: 32px;
}

section {
  display: flex;
  background-color: #fff;
}

.content {
  margin: 277px auto;
}

img {
  float: left;
  margin-right: 87px;
  margin-top: -200px;
}

.my-failures-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}

.my-failures-description {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}

ul > li {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.skills-content {
  display: flex;
}

/* .section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
} */

/* .section-description {
  color: #757575;
  text-align: center;
  margin-bottom: 30px;
} */


